{% extends 'layout/base.html' %}

{% load crispy_forms_tags %}
{% block 'title' %}Login{% endblock %}
{% block 'navbar' %}{% endblock %}

{% block 'content' %}

<div class="container mb-3 mt-5">
    <div class="card mx-auto" style="max-width: 25rem;">
        <div class="card-body">
            <h4 class="card-title">Inicio de Sesión</h4>
            <form action="" method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <a href={% url 'index' %} class="card-link">Inicio</a>
                <a href="#" class="card-link">Registrarse</a>
                <button class="btn btn-primary btn-sm float-end" type="submit">Iniciar Sesión</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
