@font-face {
    font-family: "Philosopher-regular";
    src: url("../fonts/Philosopher-Regular.ttf");
}
@font-face {
    font-family: "Philosopher-bold";
    src: url("../fonts/Philosopher-Bold.ttf");
}
* {
    font-family: "Verdana", "Philosopher-regular";
}

.table {
    font-family: "Philosopher-regular";
}
h5,h1,h2,h3,h4 {
    text-align: center;
    font-family: "Philosopher-bold";
}
.form-group{
    display: flex !important;
    justify-content: center;
}
h3 {
   display: flex !important;
   justify-content: center:
}

a {
    text-decoration: none;
    color: white;
}
